[user]
	name = Grushor
	email = thegrushor@gmail.com
[credential]
	helper = "!f() { /root/.vscode-server/bin/c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1/node /tmp/vscode-remote-containers-80f98e0865a551886f813bf7da8b36103548701d.js $*; }; f"
